{# Seller item #}

<div class="m-5">

    <div id="announce-home-presentation" class="announce-home-presentation bg-grey rounded">

        <div class="d-flex align-items-center justify-content-center py-2 px-1 bg-green announce-presentation-address ">
            <img class="height-small mr-2 " src="/img/icons/map.svg" alt="marqueur de carte">

            <div class="d-flex align-items-center justify-content-center">
                <p class="text-semi-bold location" data-has-floor="1">
                    Boulogne-Billancourt, 92100
                </p>

                <p class="text-small floor">
                    4ème&nbsp;étage
                </p>
            </div>
        </div>

        <div class="announce-info-side">

            <div class="d-flex flex-row align-items-center user-infos">
                <div class="card-user-picture-announce">

                    <img class="profile-picture" src="/img/icons/anon.svg" alt="photo de profil">
                </div>


                <div class="flex-fill card-infos pl-2">
                    <div class="info-container">
                        <div class="seller-name text-green text-semi-bold text-bigger">
                            Sandrine
                        </div>
                        <div class="text-small time pt-1">Mis à jour aujourd'hui</div>
                    </div>

                </div>
            </div>
            <div>
                <p class="text-semi-bold">Préférences de retrait</p>
                <div class="d-flex align-items-center mb-3 mt-1">
                    <i class="fa fa-calendar text-bigger width-small text-center text-green flex-shrink-0"></i>
                    <div class="pl-2">
                        <div class="d-flex justify-content-start align-items-center flex-wrap">
                            <p class="text-small mr-1">Semaine&nbsp;:</p>
                            <p class="text-small text-semi-bold">de 18h à 20h</p>
                        </div>
                        <div class="d-flex justify-content-start align-items-center flex-wrap">
                            <p class="text-small mr-1">Week-end&nbsp;:</p>
                            <p class="text-small text-semi-bold">de 18h à 20h</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
