

{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
        <h1>Test technique</h1>
        <h2>Card vendeur détail d'annonce</h2>
        <div class="d-flex justify-content-around">
            {% include 'seller/item.html.twig' %}


            {% if app.user %}
{#                {% include 'seller/review-form.html.twig' %}#}

            {% elseif not app.user %}
                <div class="m-5">
                    <p>you need to be connected to create a review</p>
                    <a href="{{ path('app_login') }}">login</a>
                    <a href="{{ path('app_register') }}">register</a>
                    doesn't implemented yet
                </div>

            {% endif %}

        </div>


    </div>




{% endblock %}
