{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Test technique</h1>
        <h2>Card vendeur détail d'annonce</h2>
        <div class="d-flex justify-content-around">
            {% include 'seller/item.html.twig' %}
            {% if app.user and form %}
                {% include 'review/form.html.twig' %}
            {% elseif not app.user %}
                <div class="m-5"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}
